@import url('fonts.css');

* {
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
	font-family: text; 
	color: white; 
	font-size: 100%; 
}

body {
	display: flex;
	justify-content: space-around;
	background-color: #1a1a1a;
}

#root {
	flex: 1; 
	max-width: 1260px; 
	width: 100%;
	background-color: #1a1a1a; 
}

#hero {
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding-top: 10rem;
	padding-bottom: 6rem;
	flex-direction: column;
	align-items: center;
}



#content {
}

.Logo {
	display:block;
	max-width: 50rem;
	width: 100%;
	padding-bottom: 3rem; 
}

.OrnamentOne{
	display:block;
	padding-bottom: 3rem; 

}

h1, h2, h3, h4, h5, h6 {
	font-family: heading;	
	font-weight: 100;
	color: #009C7F !important; 
	padding-right: 10rem;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 175%;
}

h3 {
	font-size: 155%;
}

h4 {
	font-size: 140%;
}

h5 {
	font-size: 130%;
}

h6 {
	font-size: 125%;
}


.default_headlines + p {
	font-family:text;
	font-size:130%;
	padding-right: 8rem;
}

.report_header2 {
    font-family:text;
	font-size:100%;
	padding-right: 8rem;
}

.column {
	display: flex;
	margin-left: 4rem;
	margin-right: 3rem;
	flex-direction: column;
	margin-bottom: 3rem;
}

.row{
	display: flex;
	flex-direction: row;
	margin-right: 3rem;
}

