
.navbar {
  display: flex; 
  margin-bottom: 10rem; 
}

.navbar ul {
  width: 100%; 
  list-style-type: none;
  display: flex; 
  justify-content: space-between; 
}

.navbar li {
  margin: 1rem;
  text-transform: uppercase; 
  display: flex;
  justify-content: center;
}

.navLink {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

li .active {
  text-decoration: underline;
  text-decoration-color: #f63976;
  text-decoration-thickness: 8px;
  text-underline-offset: 10px;
 }

 .navIcon {

  height: 2rem;
  width: 1.6rem;
  
}

.navPoints {
  padding-top: 0.4rem;
  padding-left: 0.5rem;
}

#spendenIcon {
  padding-top: 0.2rem;
}

/* Ab hier Hamburger menu Zone */

 .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  padding: 1rem;
  position: relative;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  
}


.menu-button-container {
  display: none;
  height: 100%;
  width: 2rem;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 700px){
  .menu-button-container {
    display: flex;
  }
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #F63A76;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {

  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid rgba(26,26,26,1);
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #151515;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}



