.default_links {
    color: inherit;
}

.default_headlines {
    color: inherit;
}

.default_textcontent {
    color: inherit;
}

.default_images {
    color: inherit;
    max-width: 100%;
    margin: 1rem 0;
}

.default_row {
  display: flex; 
}

.default_col {
  flex: 1; 
}

.row50{
  flex: 1;
 display: flex;
 justify-content: center;
}

.report_header{
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;

}
.report_text{
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
.report_ol{
  padding-left: 3rem;
  padding-right: 3rem;
}

.report_ul{
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}