.default_links {
    color: inherit;
}

.default_headlines {
    color: inherit;
}

.default_textcontent {
    padding-bottom: 2rem; 
    color: inherit;
}

.default_images {
    color: inherit;
    max-width: 100%;
    margin: 1rem 0;
}

.default_row {
  display: flex; 
  padding-top: 2rem; 
}

.default_col {
  flex: 1; 
}

.row50{
  flex: 1;
 display: flex;
 justify-content: center;
}

.row50 img {
  max-width: 33rem; 
}

.report_header{
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;

}
.report_text{
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
.report_ol{
  padding-left: 3rem;
  padding-right: 3rem;
}

.report_ul{
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.report_header + p {
  padding-left: 3rem; 
  padding-right: 3rem; 
}

.report_header2 {
  font-family: text;
  padding-top: 2rem; 
  font-size: 100%;
  padding-left: 3rem; 
  padding-right: 8rem;
}

.default_link:after {
  content: " ..."; 
}

.default_link {
  text-align: right; 
  padding-right: 10rem; 
  display: block;
  color: #00A383; 
  text-decoration: none; 
}

.default_link:hover {
  text-decoration: underline; 
}