.footerBar {
    display: flex; 
    justify-content: space-around;  
    padding: 2rem; 
    position:sticky;
    bottom: 0;
    color: white;
    background-color: #1a1a1a;
  }
  
 .footerBar ul  {
    list-style-type: none;
  }

  .footerBar li {
    margin: 1rem;
    display: inline;
    margin: 1rem;
    text-transform: uppercase;
  }

.footerLink {
  text-decoration: none;
}

.ornamentFooter{
  padding-top: 3rem;
  position: sticky;
}