.footerBar {
    display: flex; 
    justify-content: space-around;  
    padding: 2rem; 
  }
  
 .footerBar ul  {
    list-style-type: none;
  }

  .footerBar li {
    margin: 1rem;
    display: inline;
    margin: 1rem;
    text-transform: uppercase;
  }

.footerLink {
  text-decoration: none;
}

