.footerBar {
    background-color: #1a1a1a;
    display: flex; 
    justify-content: space-around;  
    padding: 2rem; 
    position:sticky;
    bottom: 0;
    color: white;
    background-color: #1a1a1a;
    z-index: 10000; 
  }
  
 .footerBar ul  {
    list-style-type: none;
  }

  .footerBar li {
    margin: 1rem;
    display: inline;
    margin: 1rem;
    text-transform: uppercase;
  }

.footerLink {
  text-decoration: none;
}

.ornamentFooter{
  padding-top: 3rem;
  position: sticky;
}

@media screen and (max-width: 700px) {
  .footerBar li {
    display: inline-block;
    margin: 0 1rem;
    font-size: 0.7rem;
  }
}

  @media screen and (max-width: 400px) {
    .footerBar li {
      display: inline-block;
      margin: 0 1rem;
      font-size: 0.4rem;
    }
}

